<div class="w-full relative">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="text-center mx-5 font-bold text-3xl">מחאות מטה החירום האקלימי אקולוגי</h1>

  <div id="protests" class="min-w-full flex flex-wrap">
    <%= render @protests %>
  </div>
  <div class="fixed bottom-5 left-5 lg:hidden"><%= link_to '+', new_protest_path, class: "btn btn-square btn-lg" %></div>
  <div class="fixed bottom-5 left-5 hidden lg:block"><%= link_to 'מחאה חדשה', new_protest_path, class: "btn btn-lg" %></div>
</div>
